.metadata/*
ADC_Filtering_1_KIT_TC375_LK/*
ADC_Queued_Scan_1_KIT_TC375_LK/*
ADC_Single_Channel_1_KIT_TC375_LK/*
Blinky_LED_1_KIT_TC375_LK/*
CCU6_Interrupt_1_KIT_TC375_LK/*
ERU_Interrupt_1_KIT_TC375_LK/*
iLLD_TC375_ADS_Blinky_LED_CPP/*
STM_Interrupt_1_KIT_TC375_LK/*